body{
    background-color: #ffff;
    margin: 0;
    padding: 0;

    .caixa{
        overflow: hidden;
    }

    .img{
        float: left;
        top: 50px;
        left: 45px;
        width: 400px;
        height: 50px;
        margin: 25px;
        padding: 25px;
    }

    .menu{
        float: left;
        border: 5px solid #000;
        border-radius: 10px;
        font-size: 200%;
        margin: 25px; 
    }


}